/* Globale styles her */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  align-self: stretch;
  object-fit: cover;
}
:root {
  /* COLORS */

  /* CALC COLORS --light-yellow: hsl(from var(--yellow) h s calc(l + 20)); */
  --yellow: #ffcc4a;
  --light-yellow: #ffecbb;
  --green: #4eaf4e;
  --light-green: #a4eda4;
  --black: #181818;
  --dark-grey: #595566;
  --grey: #ebebeb;
  --light-grey: #f5f5f5;
  --white: #ffffff;

  /* ALIAS */
  --heading-color: var(--black);
  --body-color: var(--dark-grey);
  --body-size: var(--step--1);

  /* COLORS */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  --step--2: clamp(0.7813rem, 0.7744rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9148rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2727rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4989rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7631rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0714rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4301rem + 1.8461vw, 3.8147rem);

  --h2-fontsize: clamp(1.875rem, 1.272vw + 1.546rem, 2.5rem);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: [full-bleed-start]minmax(1rem, 1fr) [content-start]minmax(0, 600px) minmax(0, 600px) [content-end] minmax(1rem, 1fr) [full-bleed-end];
}

img {
  border-radius: 2rem;
}

header,
footer,
main,
.fullbleed {
  grid-column: full-bleed;
  display: grid;
  grid-template-columns: subgrid;
  > :not(&) {
    grid-column: content;
  }
}

.space {
  margin-block: var(--space-xxl);
}

p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  color: var(--body-color);
  font-size: var(--body-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Cabin", sans-serif;
  line-height: 1.25;
  color: var(--heading-color);
}
h1 {
  font-size: var(--step-3);
  line-height: 1.25;
  font-weight: bold;
  font-family: "Cabin", sans-serif;
  color: var(--heading-color);
}
h2 {
  font-size: var(--step-3);
  line-height: 1.25;
  font-weight: bold;
  font-family: "Cabin", sans-serif;
  color: var(--heading-color);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-0);
}

.long_text_div {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;

  :nth-child(2) {
    display: flex;
  }
}

.flex {
  display: flex;
}
