---
const { url, variant, pop } = Astro.props;
---

{
  pop ? (
    <button popovertarget={pop} data-button={variant}>
      <slot />
    </button>
  ) : (
    <a href={url} data-button={variant}>
      <slot />
    </a>
  )
}

<style>
  @layer components {
    [data-button="yellow"] {
      --button-bg: var(--yellow);
      --button-text: var(--black);
    }

    [data-button="black"] {
      --button-bg: var(--black);
      --button-text: var(--white);
    }

    [data-button="white"] {
      --button-bg: var(--white);
      --button-text: var(--black);
    }

    a,
    button {
      background-color: var(--value-btn-bg, var(--button-bg));
      color: var(--value-btn-text, var(--button-text));
      text-decoration: none;
      border-radius: 2rem;
      padding-inline: var(--space-md);
      padding-block: var(--space-xs);
      display: inline-block;
      flex-shrink: 0;
      svg {
        inline-size: 50px;
        block-size: 50px;
      }
      &:hover {
        background-color: hsl(from var(--button-bg) h s calc(l - 20));
        cursor: pointer;
      }
    }
  }
</style>
