---
const experienceData = await fetch("https://frontend-design-theme.netlify.app/api/experience").then((response) => response.json());
import Roundtext from "./Roundtext.astro";
import Statscontainer from "./Statscontainer.astro";
---

<div class="Card3 fullbleed">
  <div>
    <div>
      <Roundtext variant="white">EXPERIENCE</Roundtext>
      <h2>{experienceData.heading}</h2>
      <p>{experienceData.subheading}</p>
    </div>
    <Statscontainer />
  </div>
</div>

<style>
  .Card3 {
    padding-block: var(--space-xxl);
    background-color: var(--yellow);

    > div {
      justify-content: space-between;
      grid-column: content;
      display: flex;
      flex-wrap: wrap;
    }
  }
</style>
