---
import Roundtext from "./Roundtext.astro";
import Phone from "../icons/phone.svg";
import Clock from "../icons/clock.svg";
import Pin from "../icons/pin.svg";
---

<div class="space contact-grid">
  <div>
    <div class="flow">
      <Roundtext variant="yellow">PROCESS</Roundtext>
      <h2>Contact Us. It's Easy</h2>
      <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
    </div>
    <div class="card-list">
      <div class="icon-holder">
        <div>
          <Phone class="phone" />
        </div>
        <div>
          <p>Call Today</p>
          <p>+1 800 100 900</p>
        </div>
      </div>
      <div class="icon-holder">
        <div>
          <Clock class="clock" />
        </div>
        <div>
          <p>Call Today</p>
          <p>+1 800 100 900</p>
        </div>
      </div>
      <div class="icon-holder">
        <div>
          <Pin class="pin" />
        </div>
        <div>
          <p>Call Today</p>
          <p>+1 800 100 900</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bento">
    <img class="bento-img-1" src="Photo.jpg" alt="" />
    <img class="bento-img-2" src="Photo2.jpg" alt="" />
    <img class="bento-img-3" src="Photo3.jpg" alt="" />
  </div>
</div>

<style>
  .contact-grid {
    container: contact / inline-size;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--space-md);
    @container contact (width < 1200px) {
      & {
        > div {
          > * + * {
            margin-top: var(--space-xl);
          }
        }
        .card-list {
          height: auto;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .bento {
          grid-column: 1/-1;
          margin-top: var(--space-xxl);

          &::before {
            display: none;
          }
        }
      }
    }
  }
  .card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    svg {
      width: var(--space-md);
      :has(> &) {
        padding: var(--space-md);
        border-radius: 999px;
      }
    }
  }

  .icon-holder {
    display: flex;
    gap: var(--space-md);
  }
  .phone {
    color: var(--green);
    :has(> &) {
      background-color: var(--light-green);
    }
  }
  .clock {
    color: var(--yellow);
    :has(> &) {
      background-color: var(--light-yellow);
    }
  }
  .pin {
    color: var(--dark-grey);
    :has(> &) {
      background-color: var(--grey);
    }
  }

  .bento {
    display: grid;
    grid-template-areas:
      "a b"
      "a c";
    gap: var(--space-md);
    position: relative;

    &::before {
      content: "";
      height: 250px;
      width: 250px;
      background-image: url("test2.png");
      position: absolute;
      top: -3rem;
      right: -3rem;
      z-index: -1;
      border-radius: 10px;
    }
    &::after {
      content: "";
      height: 180px;
      width: 300px;
      background-color: var(--green);

      position: absolute;
      bottom: -2rem;
      left: -4rem;
      z-index: -1;
      border-radius: 1rem;
    }
  }
  .bento-img-1 {
    grid-area: a;
  }

  .bento-img-2 {
    grid-area: b;
  }

  .bento-img-3 {
    grid-area: c;
  }
</style>
