---

---

<footer class="white-text">
  <div>
    <div>
      <h3>AskExperts</h3>
    </div>

    <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--black);
    color: var(--light-grey);

    > div {
      display: grid;
      > * {
        padding-block: 30px;
      }
      div {
        border-bottom: 1px solid var(--light-grey);
        h3 {
          place-self: center;
        }
      }
      p {
        place-self: center;
      }
    }
  }
  /* POPOVER  */

  /* Styles her */
</style>
