---
import Button from "./Button.astro";
---

<header class="white-text">
  <div>
    <h3>AskExperts</h3>
    <nav>
      <a href="/">Home</a>
      <a href="/casestudy">Case Study</a>
      <a href="/employees">Team</a>
      <a href="/about">About</a>
    </nav>
    <Button pop="my-pop" variant="yellow">Login</Button>
    <div id="my-pop" popover>
      <h2>Dashboard Login</h2>
      <p>Email adress</p>
      <input type="text" name="" id="" />
      <p>Password</p>
      <input type="text" name="" id="" />
      <Button variant="yellow">Go to Dashboard</Button>
    </div>
  </div>
</header>

<style>
  header {
    background-color: var(--black);
    color: var(--light-grey);
    padding-block: 20px;

    > div {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;

      nav {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        a {
          text-decoration: none;
          color: var(--light-grey);
          &:hover {
            color: var(--yellow);
          }
        }
      }
      button {
        justify-self: end;
      }
    }
  }

  /* POPOVER  */
  #my-pop {
    margin: auto;
    background-color: var(--black);
    color: var(--white);
    flex-direction: column;
    padding-inline: 120px;
    padding-block: 40px;
    gap: 5px;
    border-radius: 20px;
    p {
      place-self: start;
    }
    input {
      background-color: var(--white);
    }
  }

  [popover] {
    &,
    &::backdrop {
      transition:
        display 0.5s allow-discrete,
        overlay 0.5s allow-discrete,
        opacity 0.5s;
      opacity: 0;
    }

    &::backdrop {
      background: black;
    }

    &:popover-open {
      opacity: 1;
      display: flex;

      &::backdrop {
        opacity: 0.5;
      }
    }

    @starting-style {
      &:popover-open,
      &:popover-open::backdrop {
        opacity: 0;
      }
    }
  }
  /* POPOVER  */

  /* Styles her */
</style>
