---
import Roundtext from "./Roundtext.astro";

const { img, title, text } = Astro.props;
---

<div class="fullbleed hero2">
  <div>
    <Roundtext variant="yellow">{text}</Roundtext>
    <h1>{title}</h1>
  </div>
</div>

<style define:vars={{ image: `url("${img}")` }}>
  .hero2 {
    background-image: var(--image);
    background-size: cover;
    padding-block: var(--space-xl);
    div {
      grid-row: middle;
      place-self: start;
      width: 60%;
      padding-inline: var(--space-lg);
      padding-block: var(--space-xl);
      background-color: hsl(from var(--white) h s l / 0.8);
      border-radius: var(--space-md);

      @media (width < 700px) {
        width: 100%;
      }
    }
  }
</style>
