---
import Services from "./Services.astro";
---

<section class="hero fullbleed">
  <!-- Markup her -->
  <div class="hero-start">
    <div>
      <h2>Empowering Your Business Growth</h2>
      <p>Discover tailored strategies and experts insights to take your business to the next leve. Let us help you navigate challenges and achieve sutainable success</p>
      <button data-button="white">Book a meeting</button>
    </div>
    <img src="" alt="" />
  </div>
  <Services />
</section>

<style>
  section {
    grid-template-rows: repeat(5, 1fr);
    .hero-start {
      grid-row: 1/5;
      grid-column: full-bleed;
      display: grid;
      grid-template-columns: subgrid;
      background-color: var(--prim-color-3);
      color: var(--sec-color-1);

      div {
        grid-column: content;
      }
    }
  }
  /* Styles her */
</style>
