---
import Services from "./Services.astro";
import Button from "./Button.astro";
---

<section class="hero fullbleed white-text">
  <!-- Markup her -->
  <div class="hero-start">
    <div class="flow">
      <h2>Empowering Your Business Growth</h2>
      <p>Discover tailored strategies and experts insights to take your business to the next leve. Let us help you navigate challenges and achieve sutainable success</p>
      <Button url="/" variant="white">Book a meeting</Button>
    </div>
    <img src="test.png" alt="" />
  </div>
  <Services />
</section>

<style>
  section {
    grid-template-rows: repeat(5, 1fr);
    img {
      border-radius: 0;
    }
    .hero-start {
      background-color: var(--black);
      color: var(--light-grey);
      display: grid;
      grid-row: 1/5;
      grid-template-columns: subgrid;
      grid-column: full-bleed;

      div {
        padding-inline-end: var(--space-xl);
        place-content: center;
        grid-column: 2/3;
      }
      img {
        grid-column: 3/5;
      }
    }
  }
  /* Styles her */
</style>
