---
//@ts-nocheck
const servicesData = await fetch("https://frontend-design-theme.netlify.app/api/services").then((response) => response.json());
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <a href="#0">{service.buttonText}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    grid-row: 2/4;
    display: flex;
    gap: 1rem;
    padding: 0;

    li {
      background-color: var(--prim-color-4);
      border-radius: 10px;
      border: 1px solid var(--sec-color-1);
      color: var(--sec-color-2);
      padding: 40px;
    }
    a {
      background-color: var(--prim-color-3);
      color: var(--sec-color-2);
      border-radius: 20px;
      padding: 10px 20px;
      text-decoration: none;
    }
  }
</style>
