---
//@ts-nocheck
const servicesData = await fetch("https://frontend-design-theme.netlify.app/api/services").then((response) => response.json());
import Button from "./Button.astro";
---

<ul>
  {
    servicesData.services.map((service) => (
      <li class="flow">
        <h4>{service.title}</h4>
        <p>{service.description}</p>
        <Button url="#0" variant="black">
          {service.buttonText}
        </Button>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    grid-row: 4/6;
    display: flex;
    gap: 1rem;
    padding: 0;

    li {
      background-color: hsl(from var(--black) h s l / 0.9);
      border-radius: 10px;
      border: 1px solid var(--light-grey);
      color: var(--white);
      padding: 40px;
    }
    a {
    }
  }
</style>
